<h2>{{nome}}</h2>
<p>{{descricao}}</p>
<p><span>Ano de lançamento:</span> {{anoLancamento}}</p>
<p><span>Criado por:</span> {{criador}}</p>
<p><span>Paradigma:</span> {{paradigma}}</p>
<p><span>Principal utilização:</span> {{utilizacao}}</p>

